/* Define standard variables and values for website */
/* line 20, base/static/styles/index.scss */
html {
  height: 100%; }

/* line 24, base/static/styles/index.scss */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  background-size: 100%;
  background-image: url("/static/images/background.png");
  margin: 0;
  flex: 1 0 auto; }
