/* Define standard variables and values for website */
/* line 22, base/static/styles/index.scss */
html {
  height: 100%; }

/* line 26, base/static/styles/index.scss */
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: auto;
  overflow-y: none;
  background-size: 100%;
  background-image: url("/static/images/background.png");
  margin: 0;
  display: flex; }

/* line 38, base/static/styles/index.scss */
.ivory {
  color: #fffff0; }

/* line 41, base/static/styles/index.scss */
.lightivory {
  color: #f3f1ef; }

/* line 44, base/static/styles/index.scss */
.seagreen {
  color: #20b2aa; }

/* line 47, base/static/styles/index.scss */
.teal {
  color: #008080; }

/* line 50, base/static/styles/index.scss */
.gold {
  color: #ffd700; }

/* line 53, base/static/styles/index.scss */
.lightgold {
  color: #ffe140; }

/* line 56, base/static/styles/index.scss */
.grey {
  color: grey; }

/* line 59, base/static/styles/index.scss */
.lightgrey {
  color: #f9f9f9; }

/* line 62, base/static/styles/index.scss */
.navy {
  color: #000080; }

/* line 66, base/static/styles/index.scss */
.blue {
  color: #000080; }

/* line 69, base/static/styles/index.scss */
.darknavy {
  color: #121A50; }

/* line 72, base/static/styles/index.scss */
.red {
  color: #E73229; }

/* line 76, base/static/styles/index.scss */
.text-xxxlarge {
  font-size: 3.6rem; }

/* line 79, base/static/styles/index.scss */
.text-xxxlarge-bold {
  font-size: 3.6rem;
  font-weight: bold; }

/* line 83, base/static/styles/index.scss */
.text-xxlarge {
  font-size: 3rem; }

/* line 86, base/static/styles/index.scss */
.text-xxlarge-bold {
  font-size: 3rem;
  font-weight: bold; }

/* line 90, base/static/styles/index.scss */
.text-xlarge {
  font-size: 3rem; }

/* line 93, base/static/styles/index.scss */
.text-xlarge-bold {
  font-size: 3rem;
  font-weight: bold; }

/* line 97, base/static/styles/index.scss */
.text-large {
  font-size: 2.4rem; }

/* line 100, base/static/styles/index.scss */
.text-large-bold {
  font-size: 2.4rem;
  font-weight: bold; }

/* line 104, base/static/styles/index.scss */
.text-medium {
  font-size: 1.8rem; }

/* line 107, base/static/styles/index.scss */
.text-medium-bold {
  font-size: 1.8rem;
  font-weight: bold; }

/* line 111, base/static/styles/index.scss */
.text-regular {
  font-size: 1rem; }

/* line 114, base/static/styles/index.scss */
.text-regular-bold {
  font-size: 1rem;
  font-weight: bold; }

/* line 118, base/static/styles/index.scss */
.text-small {
  font-size: 0.6rem; }

/* line 121, base/static/styles/index.scss */
.text-small-bold {
  font-size: 0.6rem;
  font-weight: bold; }

/* line 126, base/static/styles/index.scss */
.content_left {
  width: 80%;
  margin-left: 20%; }

/* line 130, base/static/styles/index.scss */
.content_right {
  width: 80%; }

/* line 133, base/static/styles/index.scss */
.content_center {
  width: 80%;
  margin: auto; }
