/* Define standard variables and values for website */
/* line 22, base/static/styles/index.scss */
html {
  height: 100%; }

/* line 26, base/static/styles/index.scss */
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  background-size: 100%;
  background-image: url("/static/images/background.png");
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #121A50; }

/* line 40, base/static/styles/index.scss */
.ivory {
  color: #fffff0; }

/* line 43, base/static/styles/index.scss */
.lightivory {
  color: #f3f1ef; }

/* line 46, base/static/styles/index.scss */
.seagreen {
  color: #20b2aa; }

/* line 49, base/static/styles/index.scss */
.teal {
  color: #008080; }

/* line 52, base/static/styles/index.scss */
.gold {
  color: #ffd700; }

/* line 55, base/static/styles/index.scss */
.lightgold {
  color: #ffe140; }

/* line 58, base/static/styles/index.scss */
.grey {
  color: grey; }

/* line 61, base/static/styles/index.scss */
.lightgrey {
  color: #f9f9f9; }

/* line 64, base/static/styles/index.scss */
.navy {
  color: #000080; }

/* line 68, base/static/styles/index.scss */
.blue {
  color: #000080; }

/* line 71, base/static/styles/index.scss */
.darknavy {
  color: #121A50; }

/* line 74, base/static/styles/index.scss */
.red {
  color: #E73229; }

/* line 78, base/static/styles/index.scss */
.text-xxxlarge {
  font-size: 3.6rem; }

/* line 81, base/static/styles/index.scss */
.text-xxxlarge-bold {
  font-size: 3.6rem;
  font-weight: bold; }

/* line 85, base/static/styles/index.scss */
.text-xxlarge {
  font-size: 3rem; }

/* line 88, base/static/styles/index.scss */
.text-xxlarge-bold {
  font-size: 3rem;
  font-weight: bold; }

/* line 92, base/static/styles/index.scss */
.text-xlarge {
  font-size: 3rem; }

/* line 95, base/static/styles/index.scss */
.text-xlarge-bold {
  font-size: 3rem;
  font-weight: bold; }

/* line 99, base/static/styles/index.scss */
.text-large {
  font-size: 2.4rem; }

/* line 102, base/static/styles/index.scss */
.text-large-bold {
  font-size: 2.4rem;
  font-weight: bold; }

/* line 106, base/static/styles/index.scss */
.text-medium {
  font-size: 1.8rem; }

/* line 109, base/static/styles/index.scss */
.text-medium-bold {
  font-size: 1.8rem;
  font-weight: bold; }

/* line 113, base/static/styles/index.scss */
.text-regular {
  font-size: 1rem; }

/* line 116, base/static/styles/index.scss */
.text-regular-bold {
  font-size: 1rem;
  font-weight: bold; }

/* line 120, base/static/styles/index.scss */
.text-small {
  font-size: 0.6rem; }

/* line 123, base/static/styles/index.scss */
.text-small-bold {
  font-size: 0.6rem;
  font-weight: bold; }

/* line 128, base/static/styles/index.scss */
.content_left {
  width: 80%;
  margin-left: 20%; }

/* line 132, base/static/styles/index.scss */
.content_right {
  width: 80%; }

/* line 135, base/static/styles/index.scss */
.content_center {
  width: 80%;
  margin: auto; }
