/* Define standard variables and values for website */
/* line 22, base/static/styles/index.scss */
html {
  height: 100%; }

/* line 26, base/static/styles/index.scss */
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  background-size: 100%;
  background-image: url("/static/images/background.png");
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #121A50; }

/* line 40, base/static/styles/index.scss */
.ivory {
  color: #fffff0; }

/* line 43, base/static/styles/index.scss */
.lightivory {
  color: #f3f1ef; }

/* line 46, base/static/styles/index.scss */
.seagreen {
  color: #20b2aa; }

/* line 49, base/static/styles/index.scss */
.teal {
  color: #008080; }

/* line 52, base/static/styles/index.scss */
.gold {
  color: #ffd700; }

/* line 55, base/static/styles/index.scss */
.lightgold {
  color: #ffe140; }

/* line 58, base/static/styles/index.scss */
.grey {
  color: grey; }

/* line 61, base/static/styles/index.scss */
.lightgrey {
  color: #f9f9f9; }

/* line 64, base/static/styles/index.scss */
.navy {
  color: #000080; }

/* line 68, base/static/styles/index.scss */
.blue {
  color: #000080; }

/* line 71, base/static/styles/index.scss */
.darknavy {
  color: #121A50; }

/* line 74, base/static/styles/index.scss */
.red {
  color: #E73229; }

/* line 78, base/static/styles/index.scss */
.text-xxxlarge {
  font-size: 3.6rem; }

/* line 81, base/static/styles/index.scss */
.text-xxxlarge-bold {
  font-size: 3.6rem;
  font-weight: bold; }

/* line 85, base/static/styles/index.scss */
.text-xxlarge {
  font-size: 3rem; }

/* line 88, base/static/styles/index.scss */
.text-xxlarge-bold {
  font-size: 3rem;
  font-weight: bold; }

/* line 92, base/static/styles/index.scss */
.text-xlarge {
  font-size: 3rem; }

/* line 95, base/static/styles/index.scss */
.text-xlarge-bold {
  font-size: 3rem;
  font-weight: bold; }

/* line 99, base/static/styles/index.scss */
.text-large {
  font-size: 2.4rem; }

/* line 102, base/static/styles/index.scss */
.text-large-bold {
  font-size: 2.4rem;
  font-weight: bold; }

/* line 106, base/static/styles/index.scss */
.text-medium {
  font-size: 1.8rem; }

/* line 109, base/static/styles/index.scss */
.text-medium-bold {
  font-size: 1.8rem;
  font-weight: bold; }

/* line 113, base/static/styles/index.scss */
.text-regular {
  font-size: 1rem; }

/* line 116, base/static/styles/index.scss */
.text-regular-bold {
  font-size: 1rem;
  font-weight: bold; }

/* line 120, base/static/styles/index.scss */
.text-small {
  font-size: 0.6rem; }

/* line 123, base/static/styles/index.scss */
.text-small-bold {
  font-size: 0.6rem;
  font-weight: bold; }

/* line 128, base/static/styles/index.scss */
.content_left {
  width: 80%;
  margin-left: 20%; }

/* line 132, base/static/styles/index.scss */
.content_right {
  width: 80%; }

/* line 135, base/static/styles/index.scss */
.content_center {
  width: 80%;
  margin: auto; }

/*  -------------------------- header ------------------------------------------*/
/* line 6, base/static/styles/style.scss */
.header-brand {
  float: left; }
  /* line 8, base/static/styles/style.scss */
  .header-brand__a__img {
    height: 3rem;
    padding: 0.3rem; }

/* line 13, base/static/styles/style.scss */
.header-menu {
  line-height: 3rem;
  float: right;
  text-transform: uppercase; }
  /* line 17, base/static/styles/style.scss */
  .header-menu a {
    text-decoration: none; }
  /* line 20, base/static/styles/style.scss */
  .header-menu__a, .header-menu-dropdown {
    display: inline;
    padding: 1rem;
    cursor: pointer;
    color: grey;
    font-weight: bold; }
    /* line 26, base/static/styles/style.scss */
    .header-menu__a:hover, .header-menu-dropdown:hover {
      color: #121A50; }
  /* line 30, base/static/styles/style.scss */
  .header-menu-dropdown {
    display: relative; }
    /* line 32, base/static/styles/style.scss */
    .header-menu-dropdown:hover .header-menu-dropdown-content {
      visibility: visible;
      transition: visibility 0s; }
    /* line 36, base/static/styles/style.scss */
    .header-menu-dropdown__i {
      padding: 0 0.6rem; }
    /* line 39, base/static/styles/style.scss */
    .header-menu-dropdown-content {
      position: absolute;
      box-shadow: 0 0.6rem 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1.8rem 0 rgba(0, 0, 0, 0.19);
      background-color: #f3f1ef;
      z-index: 5;
      visibility: hidden;
      transition: visibility 0.3s;
      line-height: 2.4rem;
      top: 2.4rem; }
      /* line 48, base/static/styles/style.scss */
      .header-menu-dropdown-content__a {
        color: grey;
        display: block;
        padding: 0 0.6rem; }
        /* line 52, base/static/styles/style.scss */
        .header-menu-dropdown-content__a:hover {
          color: #000080;
          background-color: #FFF;
          box-shadow: 0 0.6rem 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1.8rem 0 rgba(0, 0, 0, 0.19); }
      /* line 58, base/static/styles/style.scss */
      .header-menu-dropdown-content__select {
        border: none;
        padding: 0.6rem;
        background-color: #f3f1ef; }
        /* line 62, base/static/styles/style.scss */
        .header-menu-dropdown-content__select__option {
          cursor: pointer; }
  /* line 68, base/static/styles/style.scss */
  .header-menu .profile-links {
    right: 7.92rem; }
  /* line 71, base/static/styles/style.scss */
  .header-menu .languages {
    right: 3.6rem;
    line-height: normal; }
  /* line 75, base/static/styles/style.scss */
  .header-menu-icon__a__i {
    font-size: 1.8rem;
    display: none; }

/*  -------------------------- content ------------------------------------------*/
/* line 84, base/static/styles/style.scss */
.content {
  flex: 1 100%;
  vertical-align: text-top; }

/*--------------------------------------- footer ----------------------------------------*/
/* line 92, base/static/styles/style.scss */
.footer {
  padding: 0.6rem 0;
  background-color: #000080;
  text-align: center; }
  /* line 96, base/static/styles/style.scss */
  .footer-copyright, .footer-policy {
    text-align: center;
    margin: 0;
    padding: 0 1.8rem;
    color: #fff; }

/*  -------------------------- home circles ------------------------------------------*/
/* animation block  */
@-webkit-keyframes rightIn {
  from {
    left: 0; }
  to {
    left: 3rem; } }

@-webkit-keyframes rightOut {
  from {
    left: 2rem; }
  to {
    left: 0; } }

@-webkit-keyframes leftIn {
  from {
    left: -10rem; }
  to {
    left: -12rem; } }

@-webkit-keyframes leftOut {
  from {
    left: -12rem; }
  to {
    left: -10rem; } }

/* line 144, base/static/styles/style.scss */
.home-circle-left {
  margin-top: 3rem;
  overflow: hidden;
  position: relative;
  height: 100%;
  float: left;
  width: 12rem; }
  /* line 151, base/static/styles/style.scss */
  .home-circle-left-content {
    width: 18rem;
    border-radius: 50%;
    padding: 10rem 1.8rem;
    background-color: #ffd700;
    text-align: right;
    position: relative;
    left: -10rem;
    animation-name: leftOut;
    animation-duration: .5s; }
    /* line 161, base/static/styles/style.scss */
    .home-circle-left-content:hover {
      animation-name: leftIn;
      animation-duration: .5s;
      left: -12rem; }
    /* line 166, base/static/styles/style.scss */
    .home-circle-left-content__a {
      text-decoration: none;
      font-weight: bold;
      color: white; }

/* line 173, base/static/styles/style.scss */
.home-circle-right {
  margin-top: 3rem;
  overflow: hidden;
  position: relative;
  height: 100%;
  float: right;
  width: 12rem; }
  /* line 180, base/static/styles/style.scss */
  .home-circle-right-content {
    width: 18rem;
    border-radius: 50%;
    padding: 10rem 1.8rem;
    background-color: #000080;
    position: relative;
    animation-name: rightOut;
    animation-duration: .5s; }
    /* line 188, base/static/styles/style.scss */
    .home-circle-right-content:hover {
      animation-name: rightIn;
      animation-duration: .5s;
      left: 2rem; }
    /* line 193, base/static/styles/style.scss */
    .home-circle-right-content__a {
      text-decoration: none;
      font-weight: bold;
      color: white; }

/* line 200, base/static/styles/style.scss */
.home-content {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.6rem; }
  /* line 205, base/static/styles/style.scss */
  .home-content__a__img {
    width: 28.8rem;
    margin: 2.4rem 0; }

/* ---------------------------------MESSAGES & ERRORS ----------------------------------------------*/
/* line 213, base/static/styles/style.scss */
.messagelist__ul {
  padding: 0;
  margin: 0;
  font-weight: bold; }
  /* line 217, base/static/styles/style.scss */
  .messagelist__ul__li {
    display: block;
    font-weight: bold;
    padding: 0.6rem 0.6rem 0.6rem 3rem;
    margin: 0 0 0.6rem 0;
    background: #dfd url("/static/admin/img/icon-yes.svg") 2.4rem 1rem no-repeat;
    background-size: 1.8rem auto;
    color: #333; }
    /* line 225, base/static/styles/style.scss */
    .messagelist__ul__li.warning {
      background: #ffc url("/static/admin/img/icon-alert.svg") 2.4rem 1rem no-repeat;
      background-size: 1.8rem auto; }
    /* line 229, base/static/styles/style.scss */
    .messagelist__ul__li.error {
      background: #ffefef url("/static/admin/img/icon-no.svg") 2.4rem 1rem no-repeat;
      background-size: 1.8rem auto; }
  /* line 234, base/static/styles/style.scss */
  .messagelist__ul.errornote {
    padding: 0.6rem 0.6rem 0.6rem 3rem;
    margin: 0 0 0.6rem 0;
    color: #E73229;
    border: 1px solid #E73229;
    border-radius: 0.6rem; }
  /* line 241, base/static/styles/style.scss */
  .messagelist__ul.errorlist {
    margin: 0 0 4px;
    padding: 0;
    color: #ba2121; }
    /* line 245, base/static/styles/style.scss */
    .messagelist__ul.errorlist li {
      font-size: 13px;
      display: block;
      margin-bottom: 4px; }
