/* Define standard variables and values for website */
/* line 20, base/static/styles/index.scss */
html {
  height: 100%; }

/* line 24, base/static/styles/index.scss */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  background-size: 100%;
  background-image: url("/static/images/background.png");
  margin: 0;
  flex: 1 0 auto; }

/* line 3, base/static/styles/style.scss */
.header {
  padding: 0 10px; }
  /* line 5, base/static/styles/style.scss */
  .header-brand {
    float: left; }
    /* line 7, base/static/styles/style.scss */
    .header-brand__a__img {
      height: 3.6rem; }
  /* line 11, base/static/styles/style.scss */
  .header-menu {
    line-height: 3.6rem;
    float: right;
    text-transform: uppercase; }
    /* line 15, base/static/styles/style.scss */
    .header-menu__a, .header-menu-dropdown {
      display: inline;
      padding: 1rem;
      color: grey;
      font-weight: bold; }
      /* line 20, base/static/styles/style.scss */
      .header-menu__a:hover, .header-menu-dropdown:hover {
        color: #000080; }
    /* line 24, base/static/styles/style.scss */
    .header-menu-dropdown {
      display: relative; }
      /* line 26, base/static/styles/style.scss */
      .header-menu-dropdown:hover .header-menu-dropdown-content {
        visibility: visible;
        transition: visibility 0s; }
      /* line 30, base/static/styles/style.scss */
      .header-menu-dropdown-content {
        position: absolute;
        display: flex;
        box-shadow: 0 0.6rem 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1.8rem 0 rgba(0, 0, 0, 0.19);
        background-color: #f3f1ef;
        z-index: 5;
        visibility: hidden;
        transition: visibility 0.3s;
        flex-direction: column;
        right: 1.8rem; }
        /* line 40, base/static/styles/style.scss */
        .header-menu-dropdown-content__a {
          float: none;
          color: grey;
          display: block; }
          /* line 45, base/static/styles/style.scss */
          .header-menu-dropdown-content__a:hover {
            color: #2196F3;
            background-color: #FFF;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19); }
    /* line 53, base/static/styles/style.scss */
    .header-menu-icon__a__i {
      font-size: 1.8rem;
      display: none; }
  /* line 59, base/static/styles/style.scss */
  .header .language__select {
    padding: 0.5rem;
    min-width: 7rem; }

/* line 66, base/static/styles/style.scss */
.text-xxxlarge, .home-xxxlarge {
  font-size: 35px; }

/* line 69, base/static/styles/style.scss */
.text-xxxlarge-bold, .home-xxxlarge-bold {
  font-size: 35px;
  font-weight: bold; }

/* line 73, base/static/styles/style.scss */
.text-xxlarge {
  font-size: 30px; }

/* line 76, base/static/styles/style.scss */
.text-xxlarge-bold, .home-xxlarge-bold {
  font-size: 30px;
  font-weight: bold; }

/* line 80, base/static/styles/style.scss */
.text-xlarge, .home-xlarge {
  font-size: 25px; }

/* line 83, base/static/styles/style.scss */
.text-xlarge-bold, .home-xlarge-bold {
  font-size: 25px;
  font-weight: bold; }

/* line 87, base/static/styles/style.scss */
.text-large, .home-large {
  font-size: 20px; }

/* line 90, base/static/styles/style.scss */
.text-large-bold, .home-large-bold {
  font-size: 20px;
  font-weight: bold; }

/* line 94, base/static/styles/style.scss */
.text-medium {
  font-size: 18px; }

/* line 97, base/static/styles/style.scss */
.text-medium-bold {
  font-size: 18px;
  font-weight: bold; }

/* line 101, base/static/styles/style.scss */
.text-regular {
  font-size: 15px; }

/* line 104, base/static/styles/style.scss */
.text-regular-bold {
  font-size: 15px;
  font-weight: bold; }

/* line 108, base/static/styles/style.scss */
.text-small {
  font-size: 12px; }

/* line 111, base/static/styles/style.scss */
.text-small-bold {
  font-size: 12px;
  font-weight: bold; }

/* line 115, base/static/styles/style.scss */
text-italic-bold {
  font: italic bold,arial; }

/* line 119, base/static/styles/style.scss */
a {
  color: #2196f3; }

/* line 122, base/static/styles/style.scss */
a:link, a:visited {
  text-decoration: none; }

/* line 126, base/static/styles/style.scss */
a:hover {
  text-decoration: underline; }

/* ---------------------------------Style the input fields ----------------------------------*/
/* line 131, base/static/styles/style.scss */
input[type=text], input[type=password], input[type=email], textarea {
  padding: 0.5vw;
  width: 100%;
  margin: 0; }

/* line 137, base/static/styles/style.scss */
select {
  padding: 0.5vw;
  margin: 0; }

/* line 141, base/static/styles/style.scss */
.required_stick {
  color: red;
  font-size: 1.7rem;
  vertical-align: middle;
  line-height: 01rem; }

/* line 147, base/static/styles/style.scss */
input[type=checkbox] {
  display: inline; }

/*----------------- header and bar ---------------------------*/
/*------------------------------------ content --------------------------------------*/
/* line 155, base/static/styles/style.scss */
.content_left {
  width: 80%;
  margin-left: 20%; }

/* line 159, base/static/styles/style.scss */
.content_right {
  width: 80%; }

/* line 162, base/static/styles/style.scss */
.content_center {
  width: 80%;
  margin: auto; }

/*  -------------------------- for circles ------------------------------------------*/
/* line 168, base/static/styles/style.scss */
.half_circle_left {
  margin-top: 8vw;
  overflow: hidden;
  position: relative;
  height: 100%;
  float: left;
  width: 16vw; }

/* animation block  */
@-webkit-keyframes hoverIN {
  from {
    left: 0vw; }
  to {
    left: 3vw; } }

@-webkit-keyframes hoverOUT {
  from {
    left: 3vw; }
  to {
    left: 0vw; } }

@-webkit-keyframes hoverShippingIN {
  from {
    left: -12vw; }
  to {
    left: -15vw; } }

@-webkit-keyframes hoverShippingOUT {
  from {
    left: -15vw; }
  to {
    left: -12vw; } }

/* line 214, base/static/styles/style.scss */
#tracking_half_circle:hover {
  /* animation passing name  */
  animation-name: hoverIN;
  animation-duration: .5s;
  left: 3vw; }

/* line 221, base/static/styles/style.scss */
#shipping_full_circle:hover {
  /* animation passing name  */
  animation-name: hoverIN;
  animation-duration: .5s;
  left: 3vw; }

/* line 230, base/static/styles/style.scss */
.half_circle_right {
  margin-top: 8vw;
  overflow: hidden;
  position: relative;
  height: 100%;
  float: right;
  width: 16vw; }

/* line 239, base/static/styles/style.scss */
.half_circle_left a, .half_circle_right a, #shipping_full_circle a, #tracking_half_circle a, .circle a, .hidden a {
  color: #fff; }

/* line 243, base/static/styles/style.scss */
.circle {
  margin-top: 5vw;
  overflow: hidden;
  height: 100%;
  float: left; }

/* line 250, base/static/styles/style.scss */
#shipping_half_circle:hover {
  animation-name: hoverShippingIN;
  animation-duration: .5s;
  left: -15vw; }

/* line 257, base/static/styles/style.scss */
#shipping_half_circle {
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  padding-top: 13vw;
  background-color: #ffd700;
  font-size: 1.5vw;
  text-align: right;
  padding-right: 3vw;
  position: relative;
  left: -12vw;
  animation-name: hoverShippingOUT;
  animation-duration: .5s; }

/* line 272, base/static/styles/style.scss */
#tracking_half_circle {
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  padding-top: 13vw;
  background-color: #000080;
  text-align: left;
  font-size: 1.5vw;
  padding-left: 3vw;
  position: relative;
  animation-name: hoverOUT;
  animation-duration: .5s; }

/*---------------------------------------for footer only----------------------------------------*/
/* line 289, base/static/styles/style.scss */
#footer {
  flex: 0 0 auto;
  width: 100%;
  bottom: 0;
  padding-top: 0.5vw;
  padding-bottom: 0;
  margin-bottom: 0; }

/* line 297, base/static/styles/style.scss */
#footer h5 {
  font-weight: bold;
  color: #000080; }

/* line 301, base/static/styles/style.scss */
.footer-copyright {
  background-color: #000080;
  text-align: center;
  margin: 0;
  padding: 0.5vw;
  color: #fff; }

/*----------------------------------------for small screem ----------------------------------*/
@media screen and (max-width: 600px) {
  /* line 311, base/static/styles/style.scss */
  .home-xxxlarge {
    font-size: 28px; }
  /* line 314, base/static/styles/style.scss */
  .home-xxxlarge-bold {
    font-size: 28px;
    font-weight: bold; }
  /* line 318, base/static/styles/style.scss */
  .home-xxlarge {
    font-size: 25px;
    font-family: Georgia; }
  /* line 322, base/static/styles/style.scss */
  .home-xxlarge-bold {
    font-size: 25px;
    font-weight: bold; }
  /* line 326, base/static/styles/style.scss */
  .home-xlarge {
    font-size: 22px; }
  /* line 329, base/static/styles/style.scss */
  .home-xlarge-bold {
    font-size: 22px;
    font-weight: bold; }
  /* line 333, base/static/styles/style.scss */
  .home-large {
    font-size: 20px; }
  /* line 336, base/static/styles/style.scss */
  .home-large-bold {
    font-size: 20px;
    font-weight: bold; }
  /* line 340, base/static/styles/style.scss */
  .home_logged {
    background-position: right 0 bottom 0; }
  /* line 343, base/static/styles/style.scss */
  .content_left {
    width: 95%;
    margin: auto; }
  /* line 347, base/static/styles/style.scss */
  .content_right {
    width: 95%;
    margin: auto;
    margin-top: 10px; }
  /* line 352, base/static/styles/style.scss */
  .content_center {
    width: 95%;
    margin: auto; }
  /* line 356, base/static/styles/style.scss */
  #main_address_form {
    margin: 20px auto; }
  /* line 359, base/static/styles/style.scss */
  #container {
    flex: 0 0 auto; }
  /* line 362, base/static/styles/style.scss */
  #footer {
    position: relative;
    height: auto;
    text-align: center; }
  /* line 367, base/static/styles/style.scss */
  .footer_links {
    display: none; }
  /* line 370, base/static/styles/style.scss */
  #footer h5 {
    margin: 0;
    cursor: pointer; }
  /* line 374, base/static/styles/style.scss */
  #customer_service_table img {
    width: 40px;
    margin: 10px 10px; }
  /* line 378, base/static/styles/style.scss */
  #customer_service_table {
    background-color: lightgrey;
    width: 100%;
    margin: 10px; }
  /* line 383, base/static/styles/style.scss */
  #customer_service_table th {
    width: 23%;
    height: 140px;
    background-color: white;
    margin: 2px 1%; }
  /* line 389, base/static/styles/style.scss */
  .dropdown .dropdown-content {
    display: block;
    background-color: Transparent;
    box-shadow: none;
    padding-left: 10px; }
  /* line 395, base/static/styles/style.scss */
  .menu {
    padding: 0;
    margin: 0;
    z-index: 1;
    padding-top: 10px;
    padding-right: 10px; }
  /* line 402, base/static/styles/style.scss */
  .menu .icon {
    position: absolute;
    right: 0;
    top: 0; }
  /* line 407, base/static/styles/style.scss */
  .menu a, .dropdown .dropbtn, .menu form {
    display: none; }
  /* line 410, base/static/styles/style.scss */
  .menu a:hover {
    color: #2196F3;
    background-color: #FFF;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19); }
  /* line 415, base/static/styles/style.scss */
  .menu a.icon {
    float: right;
    display: block;
    padding: 5px 10px; }
  /* line 420, base/static/styles/style.scss */
  .menu #account_nav {
    float: left;
    display: block; }
  /* line 424, base/static/styles/style.scss */
  #CollectionPointID {
    display: none; }
  /* line 427, base/static/styles/style.scss */
  #map {
    display: block;
    width: 100%; }
  /* line 431, base/static/styles/style.scss */
  .sidebar {
    display: none; }
  /* line 434, base/static/styles/style.scss */
  fieldset label {
    width: 100px; }
  /* line 437, base/static/styles/style.scss */
  fieldset {
    padding: 0px; }
  /* line 440, base/static/styles/style.scss */
  .select_column {
    width: 50px; }
  /* line 444, base/static/styles/style.scss */
  #shipping_half_circle, #tracking_half_circle, #shipping_full_circle, #tracking_full_circle {
    font-size: 2.2vw; }
  /* line 447, base/static/styles/style.scss */
  .w3-third input, .w3-third select, .w3-half input, .w3-half select, .w3-quarter input, .w3-quarter select {
    width: 100%; } }

@media screen and (max-width: 600px) {
  /* line 453, base/static/styles/style.scss */
  .menu.responsive {
    position: relative; }
  /* line 454, base/static/styles/style.scss */
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left; }
  /* line 459, base/static/styles/style.scss */
  .menu.responsive .dropdown {
    float: none; }
  /* line 460, base/static/styles/style.scss */
  .menu.responsive .dropdown-content {
    position: relative; }
  /* line 461, base/static/styles/style.scss */
  .menu.responsive form {
    display: block;
    background-color: Transparent;
    box-shadow: none;
    padding-left: 10px; }
  /* line 468, base/static/styles/style.scss */
  .menu.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left; }
  /* line 473, base/static/styles/style.scss */
  .menu select {
    display: relative; } }

/* ---------------------------------MESSAGES & ERRORS ----------------------------------------------*/
/* line 480, base/static/styles/style.scss */
ul.messagelist {
  padding: 0;
  margin: 0; }

/* line 485, base/static/styles/style.scss */
ul.messagelist li {
  display: block;
  font-weight: 400;
  font-size: 13px;
  padding: 10px 10px 10px 65px;
  margin: 0 0 10px 0;
  background: #dfd url("/static/admin/img/icon-yes.svg") 40px 12px no-repeat;
  background-size: 16px auto;
  color: #333; }

/* line 496, base/static/styles/style.scss */
ul.messagelist li.warning {
  background: #ffc url("/static/admin/img/icon-alert.svg") 40px 14px no-repeat;
  background-size: 14px auto; }

/* line 501, base/static/styles/style.scss */
ul.messagelist li.error {
  background: #ffefef url("/static/admin/img/icon-no.svg") 40px 12px no-repeat;
  background-size: 16px auto; }

/* line 506, base/static/styles/style.scss */
.errornote {
  font-size: 14px;
  font-weight: 700;
  display: block;
  padding: 10px 12px;
  margin: 0 0 10px 0;
  color: #ba2121;
  border: 1px solid #ba2121;
  border-radius: 4px; }

/* line 517, base/static/styles/style.scss */
ul.errorlist {
  margin: 0 0 4px;
  padding: 0;
  color: #ba2121; }

/* line 523, base/static/styles/style.scss */
ul.errorlist li {
  font-size: 13px;
  display: block;
  margin-bottom: 4px; }

/* line 529, base/static/styles/style.scss */
ul.errorlist li:first-child {
  margin-top: 0; }

/* line 533, base/static/styles/style.scss */
ul.errorlist li a {
  color: inherit;
  text-decoration: underline; }

/* line 538, base/static/styles/style.scss */
td ul.errorlist {
  margin: 0;
  padding: 0; }

/* line 543, base/static/styles/style.scss */
td ul.errorlist li {
  margin: 0; }

/* line 547, base/static/styles/style.scss */
.form-row.errors {
  margin: 0;
  border: none;
  border-bottom: 1px solid #eee;
  background: none; }

/* line 554, base/static/styles/style.scss */
.form-row.errors ul.errorlist li {
  padding-left: 0; }

/* line 558, base/static/styles/style.scss */
.errors input, .errors select, .errors textarea {
  border: 1px solid #ba2121; }

/* line 562, base/static/styles/style.scss */
div.system-message {
  background: #ffc;
  margin: 10px;
  padding: 6px 8px;
  font-size: .8em; }

/* line 569, base/static/styles/style.scss */
div.system-message p.system-message-title {
  padding: 4px 5px 4px 25px;
  margin: 0;
  color: #c11;
  background: #ffefef url("/static/admin/img/icon-no.svg") 5px 5px no-repeat; }

/* line 576, base/static/styles/style.scss */
.description {
  font-size: 12px;
  padding: 5px 0 0 12px; }
