/* Define standard variables and values for website */
$ivory: #fffff0;
$lightivory:rgb(243,241,239);
$seagreen: #20b2aa;
$teal: #008080;
$gold: #ffd700;
$lightgold: #ffe140;
$grey:grey;
$navy:#000080;
$blue:#2196F3;
$darknavy:#121A50;
$red:#E73229;
$lightgrey: rgb(249, 249, 249);
$minisize: 0.6rem;
$smallsize: 1rem;
$middlesize: 1.8rem;
$bigsize: 2.4rem;
$biggersize:3rem;
$supersize:3.6rem;
$boxshadow: 0 $minisize $smallsize 0 rgba(0, 0, 0, 0.2), 0 $smallsize $middlesize 0 rgba(0, 0, 0, 0.19);

html{
    height: 100%;
}

body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    background-size: 100%;
    background-image: url("/static/images/background.png");
    margin: 0;
    display: flex;
    flex-direction: column;
    color: $darknavy;
}


.ivory{
    color: $ivory;
}
.lightivory{
    color: $lightivory;
}
.seagreen{
    color: $seagreen;
}
.teal{
    color: $teal;
}
.gold{
    color: $gold;
}
.lightgold{
    color:$lightgold;
}
.grey{
    color:$grey;
}
.lightgrey{
    color: $lightgrey;
}
.navy{
    color: $navy;
}

.blue{
    color:$navy;
}
.darknavy{
    color:$darknavy;
}
.red{
    color:$red;
}

.text-xxxlarge{
    font-size: $supersize;
  }
  .text-xxxlarge-bold{
    font-size:$supersize;
    font-weight: bold;
  }
  .text-xxlarge{
    font-size: $biggersize;
  }
  .text-xxlarge-bold{
    font-size: $biggersize;
    font-weight: bold;
  }
  .text-xlarge{
    font-size: $biggersize;
  }
  .text-xlarge-bold{
    font-size: $biggersize;
    font-weight: bold;
  }
  .text-large{
    font-size: $bigsize;
  }
  .text-large-bold{
    font-size:  $bigsize;
    font-weight: bold;
  }
  .text-medium{
    font-size: $middlesize;
  }
  .text-medium-bold{
    font-size: $middlesize;
    font-weight: bold;
  }
  .text-regular{
    font-size: $smallsize;
  }
  .text-regular-bold{
    font-size: $smallsize;
    font-weight: bold;
  }
  .text-small{
    font-size: $minisize;
  }
  .text-small-bold{
    font-size: $minisize;
    font-weight: bold;
  }

  .content_left{
    width:80%;
    margin-left:20%;
  }
  .content_right{
    width:80%;
  }
  .content_center{
    width:80%;
    margin: auto;
  }