html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    background-size: 100%;
    background-image: url("/static/images/background.png");
}

#container{
  flex: 1 0 auto;
}

.text-xxxlarge, .home-xxxlarge{
  font-size: 35px;
}
.text-xxxlarge-bold, .home-xxxlarge-bold{
  font-size: 35px;
  font-weight: bold;
}
.text-xxlarge{
  font-size: 30px;
}
.text-xxlarge-bold, .home-xxlarge-bold{
  font-size: 30px;
  font-weight: bold;
}
.text-xlarge, .home-xlarge{
  font-size: 25px;
}
.text-xlarge-bold, .home-xlarge-bold{
  font-size: 25px;
  font-weight: bold;
}
.text-large, .home-large{
  font-size: 20px;
}
.text-large-bold, .home-large-bold{
  font-size: 20px;
  font-weight: bold;
}
.text-medium{
  font-size: 18px;
}
.text-medium-bold{
  font-size: 18px;
  font-weight: bold;
}
.text-regular{
  font-size: 15px;
}
.text-regular-bold{
  font-size: 15px;
  font-weight: bold;
}
.text-small{
  font-size: 12px;
}
.text-small-bold{
  font-size: 12px;
  font-weight: bold;
}
text-italic-bold{
  font: italic bold,arial;
}

a{
  color: #2196f3;
}
a:link, a:visited{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}


/*------------------------------------ content --------------------------------------*/

.content_left{
  width:80%;
  margin-left:20%;
}
.content_right{
  width:80%;
}
.content_center{
  width:80%;
  margin: auto;
}

/*  -------------------------- for circles ------------------------------------------*/
.half_circle_left{
  margin-top: 8vw;
  overflow: hidden;
  position: relative;
  height: 100%;
  float:left;
  width: 16vw;
}

/* animation block  */
@-webkit-keyframes hoverIN {
    from {
      left: 0vw;
    }
    to {
      left: 3vw;
    }
}

@-webkit-keyframes hoverOUT {
    from {
      left: 3vw;
    }
    to {
      left: 0vw;
    }
}

@-webkit-keyframes hoverShippingIN {
    from {
      left: -12vw;
    }
    to {
      left: -15vw;
    }
}

@-webkit-keyframes hoverShippingOUT {
    from {
      left: -15vw;
    }
    to {
      left: -12vw;
    }
}

#tracking_half_circle:hover{
  /* animation passing name  */
  animation-name: hoverIN;
  animation-duration: .5s;
  left: 3vw;
}

#shipping_full_circle:hover{
  /* animation passing name  */
  animation-name: hoverIN;
  animation-duration: .5s;
  left: 3vw;

}


.half_circle_right{
  margin-top: 8vw;
  overflow: hidden;
  position: relative;
  height: 100%;
  float:right;
  width: 16vw;
}

.half_circle_left a,.half_circle_right a, #shipping_full_circle a, #tracking_half_circle a, .circle a, .hidden a{
  color: #fff;
}

.circle{
  margin-top: 5vw;
  overflow: hidden;
  height: 100%;
  float:left;
}

#shipping_half_circle:hover{
  animation-name: hoverShippingIN;
  animation-duration: .5s;
  left: -15vw;
}


#shipping_half_circle{
  width:28vw;
  height:28vw;
  border-radius:50%;
  padding-top:13vw;
  background-color: #ffd700;
  font-size: 1.5vw;
  text-align: right;
  padding-right: 3vw;
  position: relative;
  left: -12vw;
  animation-name: hoverShippingOUT;
  animation-duration: .5s;
}

#tracking_half_circle{
  width:28vw;
  height:28vw;
  border-radius:50%;
  padding-top:13vw;
  background-color: #121A50;
  text-align: left;
  font-size: 1.5vw;
  padding-left: 3vw;
  position: relative;
  animation-name: hoverOUT;
  animation-duration: .5s;
}


/*---------------------------------------for footer only----------------------------------------*/

#footer{
  flex: 0 0 auto;
  width:100%;
  bottom:0;
  padding-top: 0.5vw;
  padding-bottom: 0;
  margin-bottom: 0;
}
#footer h5{
  font-weight: bold;
  color: #121A50;
}
.footer-copyright {
    background-color: #121A50;
    text-align: center;
    margin: 0;
    padding: 0.5vw;
    color: #fff;
  }

/*----------------------------------------for small screem ----------------------------------*/
  @media screen and (max-width: 600px) {
    .home-xxxlarge{
      font-size: 28px;
    }
    .home-xxxlarge-bold{
      font-size: 28px;
      font-weight: bold;
    }
    .home-xxlarge{
      font-size: 25px;
      font-family: Georgia;
    }
  .home-xxlarge-bold{
      font-size: 25px;
      font-weight: bold;
    }
  .home-xlarge{
      font-size: 22px;
    }
    .home-xlarge-bold{
      font-size: 22px;
      font-weight: bold;
    }
    .home-large{
      font-size: 20px;
    }
    .home-large-bold{
      font-size: 20px;
      font-weight: bold;
    }
    .home_logged{
      background-position: right 0 bottom 0;
    }
    .content_left{
      width:95%;
      margin:auto;
    }
    .content_right{
      width:95%;
      margin:auto;
      margin-top: 10px;
    }
    .content_center{
      width:95%;
      margin: auto;
    }
    #main_address_form{
      margin: 20px auto;
    }
    #container{
      flex: 0 0 auto;
    }
    #footer{
      position:relative;
      height:auto;
      text-align: center;
    }
  .footer_links{
      display: none;
    }
    #footer h5{
      margin: 0;
      cursor:pointer;
    }
    #customer_service_table img{
      width:40px;
      margin:10px 10px;
    }
    #customer_service_table{
      background-color: lightgrey;
      width: 100%;
      margin: 10px;
    }
    #customer_service_table th{
      width: 23%;
      height: 140px;
      background-color: white;
      margin: 2px 1%;
    }
    .dropdown .dropdown-content{
      display: block;
      background-color: Transparent;
      box-shadow: none;
      padding-left: 10px;
    }
    .topnav{
      padding: 0;
      margin: 0;
      z-index: 1;
      padding-top: 10px;
      padding-right: 10px;
    }
    .topnav .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav a, .dropdown .dropbtn, .topnav form {
      display: none;
    }
    .topnav a:hover {
      color: #2196F3;
      background-color:#FFF;
      box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
    }
    .topnav a.icon {
      float: right;
      display: block;
      padding: 5px 10px;
    }
    .topnav    #account_nav{
      float: left;
      display: block;
    }
    #CollectionPointID{
      display: none;
    }
    #map{
      display: block;
      width:100%;
    }
    .sidebar{
      display: none;
    }
    fieldset label {
      width: 100px;
    }
    fieldset{
      padding: 0px;
    }
    .select_column{
      width:50px;
    }

    #shipping_half_circle, #tracking_half_circle, #shipping_full_circle,  #tracking_full_circle{
      font-size: 2.2vw;
    }
    .w3-third input, .w3-third select, .w3-half input, .w3-half select, .w3-quarter input, .w3-quarter select{
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive form {
          display: block;
          background-color: Transparent;
          box-shadow: none;
          padding-left: 10px;
        }

    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .topnav select{
      display: relative;
    }
  }


/* ---------------------------------MESSAGES & ERRORS ----------------------------------------------*/
  ul.messagelist {
      padding: 0;
      margin: 0;
  }

  ul.messagelist li {
      display: block;
      font-weight: 400;
      font-size: 13px;
      padding: 10px 10px 10px 65px;
      margin: 0 0 10px 0;
      background: #dfd url("/static/admin/img/icon-yes.svg") 40px 12px no-repeat;
      background-size: 16px auto;
      color: #333;
  }

  ul.messagelist li.warning {
      background: #ffc url("/static/admin/img/icon-alert.svg") 40px 14px no-repeat;
      background-size: 14px auto;
  }

  ul.messagelist li.error {
      background: #ffefef url("/static/admin/img/icon-no.svg") 40px 12px no-repeat;
      background-size: 16px auto;
  }

  .errornote {
      font-size: 14px;
      font-weight: 700;
      display: block;
      padding: 10px 12px;
      margin: 0 0 10px 0;
      color: #ba2121;
      border: 1px solid #ba2121;
      border-radius: 4px;
  }

  ul.errorlist {
      margin: 0 0 4px;
      padding: 0;
      color: #ba2121;
  }

  ul.errorlist li {
      font-size: 13px;
      display: block;
      margin-bottom: 4px;
  }

  ul.errorlist li:first-child {
      margin-top: 0;
  }

  ul.errorlist li a {
      color: inherit;
      text-decoration: underline;
  }

  td ul.errorlist {
      margin: 0;
      padding: 0;
  }

  td ul.errorlist li {
      margin: 0;
  }

  .form-row.errors {
      margin: 0;
      border: none;
      border-bottom: 1px solid #eee;
      background: none;
  }

  .form-row.errors ul.errorlist li {
      padding-left: 0;
  }

  .errors input, .errors select, .errors textarea {
      border: 1px solid #ba2121;
  }

  div.system-message {
      background: #ffc;
      margin: 10px;
      padding: 6px 8px;
      font-size: .8em;
  }

  div.system-message p.system-message-title {
      padding: 4px 5px 4px 25px;
      margin: 0;
      color: #c11;
      background: #ffefef url("/static/admin/img/icon-no.svg") 5px 5px no-repeat;
  }

  .description {
      font-size: 12px;
      padding: 5px 0 0 12px;
  }

