{% extends "base/base.html" %}
{% load i18n static %}

{% block content %}
<div class="home">
        <div class="home-circle-left">
          <div class="home-circle-left-content">
            <a href="#" class="home-circle-left-content__a">
              <i class="home-circle-left-content__a__i fa fa-caret-left"></i>
              &emsp;{% trans 'SHIPPING' %}
            </a>
          </div>
        </div>
        <div class="home-circle-right">
          <div class="home-circle-right-content">
            <a class="home-circle-right-content__a" href="#">
              {% trans 'TRACKING' %}&emsp;
              <i class="home-circle-right-content__a__i  fa fa-caret-right"></i>
            </a>
          </div>
        </div>
        <div class="home-content">
          <a class="home-content__a" href="{% url 'base:home' %}">
            <img class="home-content__a__img" src="{% static 'images/brand.cst.big.png' %}" alt="logo"/>
          </a>
          <div class="home-content">
            <div class="home-content">{% trans 'Thank you for using <br/>Consolidated Transportation Service in' %}</div>
            <img class="home-content__a__img" src="{% static 'images/brand.png' %}" alt="logo"/>
          </div>
        </div>
</div>
{% endblock%}
